body {
    background: radial-gradient(circle at 50% 50%, rgb(134, 3, 173), skyblue);
    width: 100%;
    height: 100vh;
  }

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #c73737;
    color: #333;
}

.frame:hover {
    background: #c73737;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.circle {
    border-radius: 50%;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

.circle-1 {
	width: 150px;
	height: 150px;
    animation-name: circle-1;
}

.circle-2 {
    width: 100px;
    height: 100px;
    animation-name: circle-2;
}

.circle-3 {
    width: 50px;
    height: 50px;
    animation-name: circle-3;
}

@keyframes circle-1 {
    50% {width: 100%; height: 100%;}
}

@keyframes circle-2 {
    40% {width: 0%; height: 0%;}
    50% {width: 100%; height: 100%;}
    60% {width: 0%; height: 0%;}
}

@keyframes circle-3 {
    30% {width: 0%; height: 0%;}
    50% {width: 100%; height: 100%;}
    70% {width: 0%; height: 0%;}
}